<app-header
  title="{{ countryName }}"
  [headerData]="[
    { data: 'Number of entries', count: totalParticipationsCount },
    { data: 'Total number medals', count: totalMedalsCount },
    { data: 'Total number of athletes', count: totalAtheletesCount }
  ]"
>
</app-header>
<a routerLink="/">< Go Back</a>
@if (errorMsg) {
<app-error [errorMsg]="errorMsg" />
}
<div class="container" style="height: 800px">
  <canvas
    baseChart
    width="400"
    height="400"
    [type]="'bar'"
    [data]="barChartData"
  >
  </canvas>
</div>
