.connection-status {
  text-align: center;
  margin-top: 50px;

  button {
    background: black;
    padding: 0.25rem 1rem;
    color: lightgray;
    font-size: 1.5rem;
    cursor: pointer;
    border-radius: 1rem;
  }
}
